{% extends "base.html" %}
{% load static %}
{% block title %}
  <title>派森購物需知</title>
{% endblock  %}

{% block content %}
<div class="container-fluid">
    <h3>🛍️派森Python購物需知</h3>
    <p>Python Camping | 2025-06-25</p>
    <p>
        <ul><mark>-購物方式-</mark>
            <li>註冊官網會員→將商品加入購物車一點選結帳一確認商品明細、商品數量一選擇付款方式、填寫訂購/配
                送資訊→訂單生成並完成付款一訂購成立,隔日起約3-5個工作天內配達商品(不含國定例假日)</li>
            <li>首次購物請先加入官網會員,即可開始訂購商品。</li>
            <li>提醒您,「商品加入購物車」或「下打單未付款」,不代表取得購買資格或購買成功,無法為您保留庫
                存。訂單成立且成功付款後,方為完成訂購程序,出貨將以訂購完成時間為依據</li>
            <li>訂單送出後即無法修改,結帳前請確認商品明細與數量,如要更改訂單內容,請直接取消訂單並重新訂
                購。</li>
            <li>下訂後1小時內需完成付款,逾時系統將自動取消訂單。</li>
            <li>商品之配送時段僅供參考,實際到貨時間請依物流中心作業為準。</li>
        </ul>
        <ul><mark>付款方式-(建置中)</mark>
            <li>官網提供多種付款方式供會員選擇,包括「線上刷卡(僅限台灣地區發行之VISA、Master Card)」、
                「LINEPay」、「街口支付」「網路ATM」、「超商代碼(單筆上限兩萬元」支付款項。當您選擇線上刷卡方式進
                行交易時,頁面將自動跳轉至第三方金流系統的刷卡頁面進行操作,全程符合各項刷卡安全機制驗證,保障
                您的個人隱私資料。</li>
            <li>※防詐騙提醒:近期詐騙案件頻傳,提醒您,本公司絕不會去電要求會員操作ATM解除分期付款!通常詐論
                電話都有”+”號開頭,請勿輕易接聽具有”+”號的電話。若有任何疑慮請盡速與客服人員聯擊或撥打165防
                詐騙專線。</li>
        </ul>
        <ul><mark>-配送方式-</mark>
            <li>於確認收款後,約3-5個工作天內(不含例假日)將商品遞送至指定地點。
                國定假日及例假日不出貨。(如遇不可抗之因素,例如:颱風、地震及水災.等,將視當時状況處理並將另行
                公告通知)</li>
            <li>查詢訂單進度,請點選「會員中心」之「訂單查詢」,即可查看配送狀態。</li>
            <li>如訂購商品無法順利出貨或缺貨,我們將主動以E-mail通知您,並直接取消缺貨品項。訂單中若有其他商品,
                將照常安排出貨,因此還請您放心並留意近期包裹的收(取)件。</li>
        </ul>
        <ul><mark>-運費說明-</mark>
            <li>本站以宅配方式寄送商品,配送範圍限台灣本島(不含郵政信箱)。<br>
                單筆訂單滿2,000元,即享免運。<br>
                單筆訂單未滿2,000元,收取運費100元。<br></li>

            <li>※由於出貨流程限制,恕無法為會員併單寄送商品,亦不得指定到貨日期/指定到貨時間/安排急件出貨/
                自行取貨等特殊要求。</li>
        </ul>
        <ul><mark>-瑕疵商品服務注意事項-</mark>
            <ol>瑕疵商品之認定以本公司或原廠規範為準,並依維修物件之實際狀況,判斷是否屬於新品瑕疵。細微汙損或刮傷、線頭或輕微脫線等不影響商品外觀、使用功能,或原廠於商品有特別標示說明者,皆不屬於瑕疵商品
                (如:營柱金屬部位些微刮傷、布面聯污可清除者或天然木質所產生的裂紋及凹洞等皆不屬於瑕疵商品)。
                維修判斷如有任何疑義,將統一以本公司維修部解釋為主,會員不得有任何異議。<br>
                非人為使用所造成的商品瑕疵,公司將以換貨服務處理,其優先順序如下:
                <li>若瑕疵組件,為可更換式(如營柱、燈罩、烤肉網或收納袋等)且更換後不影響原商品組裝樣貌及功能者,將以無瑕疵組件來進行瑕疵更换。</li>
                <li>若沒有無瑕疵組件可更換,將以全新完整商品來進行瑕疵更換。</li>
                <li>若沒有全新無瑕疵商品可更換時,將予以退貨處理。</li>
                <li>非人為使用所造成的商品瑕疵,所產生的換貨或退貨之運費將由公司全額負擔。</li>
            </ol>
        </ul>
        <ul><mark>-注意事項-</mark>
            <li>下單前,請詳細閱讀購物須知,購買即表示同意官網之購物規則</li>
            <li>結帳後訂單無法做任何變更(顏色/款式.等),如需取消訂單請聯緊客服,將有專人協助。</li>
            <li>若經常性退貨買家,本賣場有權利將不再服務您,避免造成雙方困擾。</li>
            <li>如您對Python Camping官方網站有任何建議與需求,歡迎與我們聯繫。</li>
            <li>客服專線:0800-123456</li>
            <li>服務時間:週一至週五9:00-12:00/13:00-18:00</li>
        </ul>
    </p>
        
</div>


{% endblock  %}


